<div class="full-height">
    <div class="centered-list">
    <!--BASED ON THE LOGIN FORM PROVIDED BY SEMANTIC UI-->
    <div class="ui container center aligned full-height">
            <form class="ui large form center aligned page grid">
                <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="email" placeholder="E-mail address">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="ui fluid large submit button">Login</div>
                </div>
            </form>
        </div>
    </div>
</div>
