<br>
<div class="ui container centered">
<h1 class="ui horizontal divider header">{{_video.title}}</h1>
<br>
<div class="ui segment">
  <!--response iFrame video embed: https://www.h3xed.com/web-development/how-to-make-a-responsive-100-width-youtube-iframe-embed-->
  <div class="video-container">
    <iframe [src]="_safe_video" frameborder="0" allowfullscreen class="video"></iframe>
  </div>
  <br>
  <div>
      <span class="likes">
        <i class="empty heart icon like-icon"></i>
        {{_video.likes | number:0}}
      </span>
      <span>
        <i class="unhide icon"></i>
        {{_video.views | number:0}}
    </span>
  </div>
</div>
<!--BASED ON SEMANTIC UI'S COMMENT EXAMPLE: https://semantic-ui.com/views/comment.html-->
<div class="ui comments">
  <h3 class="ui dividing header">Comments</h3>
  <div class="comment" *ngFor="let comment of _video.comments">
    <div class="content">
      <a class="author">{{comment.user}}</a>
      <div class="metadata">
        <span class="date">{{comment.date | date}}</span>
      </div>
      <div class="text">
       {{comment.comment}}
      </div>
      <div class="actions">
        <a class="reply" (click)="onSelect(comment)">Reply</a>
      </div>
    </div>
    <div class="comments">
      <div class="comment" *ngFor="let subcomment of comment._subcomments">
        <div class="content">
          <a class="author">{{subcomment.user}}</a>
          <div class="metadata">
            <span class="date">{{subcomment.date | date}}</span>
          </div>
          <div class="text">
           {{subcomment.comment}}
          </div>
          </div>
        </div>
      </div>
    </div>
    <form class="ui reply form">
      <div class="field">
        <textarea></textarea>
      </div>
      <div class="ui blue labeled submit icon button float right">
        <i class="icon edit"></i> Add Reply
      </div>
    </form>
  </div>
</div>
<br>
