<div class="ui container centered">
<iframe width="420" height="315" width="640" height="390" [src]="_safe_video"></iframe>

<!--BASED ON SEMANTIC UI'S COMMENT EXAMPLE: https://semantic-ui.com/views/comment.html-->
<div class="ui comments">
  <h3 class="ui dividing header">Comments</h3>
  <div class="comment">
    <a class="avatar">
      <img src="/images/avatar/small/matt.jpg">
    </a>
    <div class="content">
      <a class="author">Matt</a>
      <div class="metadata">
        <span class="date">14/11/2017</span>
      </div>
      <div class="text">
        Nice video!
      </div>
      <div class="actions">
        <a class="reply" (click)="onSelect()">Reply</a>
      </div>
    </div>
  </div>
  <form class="ui reply form">
    <div class="field">
      <textarea></textarea>
    </div>
    <div class="ui blue labeled submit icon button float right">
      <i class="icon edit"></i> Add Reply
    </div>
  </form>
</div>
</div>
