<br>
<h1 class="ui horizontal divider header">Upload a new video</h1>
<br>
<div class="ui clearing segment container centered">
  <br>
  <form class="ui form" [formGroup]='_uploadFormGroup' (ngSubmit)='upload()'>
      <div class="field">
        <label>Title</label>
        <input type="text" name="title" placeholder="Title">
      </div>
      <div class="field">
          <label>Description</label>
          <input type="text" name="description" placeholder="Description">
        </div>
      <div class="field">
        <label>Youtube embed URL</label>
        <input type="text" name="youtube_link" placeholder="Youtube embed URL">
      </div>
      <div formArrayName='tags' *ngFor='let item of _uploadFormGroup.get("tags").controls; let i = index'>
          <div class="field" [formGroupName] = 'i'>
              <label>Description</label>
              <input type="text" name="description" placeholder="Description" formControlName='tag'>
            </div>
        </div>
      <p></p>
      <div class="right-align">
        <button class="ui red button"><i class="cancel icon"></i>Cancel</button>
        <button class="ui green button right align" type="submit"><i class="upload icon"></i>Upload</button>
      </div>
  </form>
</div>
